<h2>All Patterns</h2>
<table class="table table-striped table-bordered">
<thead class= "table-header">
<tr>
    <th scope="col">Title</th>
    <th scope="col">Difficulty</th>
</tr>
    </thead>
    <tbody>
    <% @patterns.each do |pattern| %>
      <td><%= pattern.title %></td>
        <td><%= pattern.difficulty %></td>
        <% end %>
    </tbody>
</table> 