<h1> Welcome to Pattern Keeper </h1>

<%= link_to 'Sign up', new_user_registration_path, method: :get, class: "btn btn-outline-success" %>
<br>
OR
<br>
<%= link_to 'Login', new_user_session_path, method: :get, class: "btn btn-outline-success" %>
